body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(djmixer.jpg);
}

div{
    background: #DCD7FF;
    padding: 40px;
    border-radius: 10px;
    width: 75%;
    margin: auto;
}

/*typography */
h1{
    color:#18148C;
}

h2{
    color: #E32C24;
}

a{
    background-color: #18148C;
    color: #F2D230;
    text-decoration: none;
    padding: 5px;
}

a:hover{
    background: #E32C24;
    color: #fff;
}